<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href=
            "{{ url_for('static',filename='css/stylesheet.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ML Job Tracker</title>
</head>
<body>
<span class="bckg"></span>
<header>
    <a href="/dash"><img class='banner-img' width='50%'
                         src="{{ url_for('static', filename='img/splice_logo.png') }}"/></a>
    <nav>
        <ul>
            <li>
                <a class="menu-item" href="javascript:void(0);" data-title="ML Jobs Tracker">ML
                    Jobs</a>
            </li>
            <li style="padding-left:15px;">
                <a style="font-size:20px;" class="menu-item" href="javascript:void(0);"
                   data-title="Service Status">Service Status</a>
            </li>
            {% for service_data in statuses %}
            <li style="padding-left:15px;">
                <a class='status-item' style='font-size:14px; font-family:sans-serif;'
                   href="javascript:void(0);"
                   data-title="{{service_data.service}}: {{service_data.status}}">{{service_data.service}}:
                    {{service_data.status}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<main>
    <div class="title">
        <h2>ML Jobs Tracker
            <button class='deploy-btn' onclick='deploy_onclick()' id="deploy" data-label="deploy">Deploy a new
                model
            </button>
            <button class='deploy-btn' id='toggle' style='width:210px' onclick='toggle_onclick()'
                    data-label="toggle services">Toggle Services
            </button>
        </h2>
        <a href="javascript:void(0);">Hello Splice User!</a>
    </div>

    <article id='art' class="larg">

        {% for job in jobs %}
        <div>
            <h3>{{job.payload['handler']}} | Job ID: {{job.job_id}} | <b>{{job.status}}</b>
                <span class="entypo-down-open"></span></h3>
            <p>
                {% if job.payload['handler'] == 'deploy' %}

                <i>Job Info:</i><br>
                Job ID: {{job.job_id}}<br>
                Timestamp: {{job.timestamp}} UTC<br><br>
                <i>Status Info:</i><br>
                Status: {{job.status}}<br>
                Detailed Status: {{job.info | safe}}<br><br>
                <i>Job Payload:</i><br>
                Handler: {{job.payload['handler']}}<br>
                MLFlow Model Path: {{job.payload['ml_model_path']}}<br>
                ML EC2 Instance Type: {{job.payload['instance_type']}}<br>
                ML EC2 Instance Count: {{job.payload['instance_count']}}<br>
                AWS Region: {{job.payload['sagemaker_region']}}<br>
                IAM Role: {{job.payload['iam_role']}}<br>
                SageMaker App Name: {{job.payload['app_name']}}<br><br>

                {% endif %}


                {% if 'service' in job.payload['handler'] %}

                <i>Change Service Availability Info</i><br>
                Job ID: {{job.job_id}}<br>
                Timestamp: {{job.timestamp}} UTC<br><br>
                Status: {{job.status}}<br>
                Service: {{job.payload['service']}}<br>
                Action: {{job.payload['action']}}<br><br>

                {% endif %}
                <button class='button refresh' style="float:center;" data-label="refresh">refresh
                </button>
            </p>
        </div>
        {% endfor %}
    </article>
</main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
</script>
</html>