{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/highlights.min.css') }}"/>
{% endblock %}

{% block content %}
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>MLManager Director Python/REST API</h2>
                    <p>All of the functionality available in this UI is accessible via REST
                        API/MLManager Python Package as well. You can find the appropriate
                        information for making requests to the MLManager Director API below.</p>
                    <h4>Note that the REST API requires Basic Authentication credentials which are
                        checked against the database users. You can read more about basic
                        authentication <a
                                href='https://learning.getpostman.com/docs/postman/sending_api_requests/authorization/'>here</a>.
                    </h4><br>
                    <h4 id="endpoint">✅ Your REST API Endpoint: </h4>
                    <script>
                    var endpoint = window.location.protocol + "//" + window.location.host + "/api"
                    document.getElementById("endpoint").innerHTML += " <a href='"+ endpoint + "'><code>" + endpoint + "</code></a>"


                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Python API</h2>
                    <p>Your user info is automatically extracted from Zeppelin</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="info">
                        <h3>Execute Active Run Deployment to AWS<br> (Python)</h3>
                        <pre><code class='bash'>$ pip install git+https://github.com/splicemachine/pysplice</code></pre>
                        <pre><code
                                class='python'>from splicemachine.ml.management import MLManager<br>manager = MLManager()<br>run = manager.search_runs(experiment_ids=[0,1], <br>   filter_string='metrics.f1 > 0.95')[0]<br>manager.set_active_run(run)<br><br>manager.deploy_active_run_sagemaker(<br> app_name='splice_app',<br> region='us-west-2',<br> instance_count=1,<br> instance_type='ml.m4.xlarge',<br> deployment_mode='replace'<br>)</code></pre>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="info">
                        <h3>Execute Deployment to AWS<br> (Python)</h3>
                        <pre><code class='bash'>$ pip install git+https://github.com/splicemachine/pysplice</code></pre>
                        <pre><code
                                class='python'>from splicemachine.ml.management import MLManager<br>manager = MLManager()<br>run = manager.search_runs(experiment_ids=[0,1], <br>   filter_string='metrics.f1 > 0.95')[0]<br><br>manager.deploy_run_sagemaker(<br> run_id=run,<br> app_name='splice_app',<br> region='us-west-2',<br> instance_count=1,<br> instance_type='ml.m4.xlarge',<br> deployment_mode='replace'<br>)<br><br><br></code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="info">
                        <h3>Disable Service (Python)</h3>
                        <pre><code class='bash'>$ pip install git+https://github.com/splicemachine/pysplice</code></pre>
                        <pre><code
                                class='python'>from splicemachine.ml.management import MLManager<br>manager = MLManager()<br>manager.disable_service('deploy_&lt;aws/azure&gt;')</code></pre>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="info">
                        <h3>Enable Service (Python)</h3>
                        <pre><code class='bash'>$ pip install git+https://github.com/splicemachine/pysplice</code></pre>
                        <pre><code
                                class='python'>from splicemachine.ml.management import MLManager<br>manager = MLManager()<br>manager.enable_service('deploy_&lt;aws/azure&gt;')</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>REST API</h2>
                    <p>Basic Authentication is required</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
{% endblock %}
