{% extends 'base.html' %}
{% block content %}
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Contact Us</h2>
                    <p>Please reach out to Splice Machine for feedback, bugs or general
                        suggestions</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="info">
                        <a href="mailto:info@splicemachine.com">Click here to send us an email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}