{% extends 'base.html' %}
{% block content %}
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Deploy a model to Splice Machine</h2>
                    <p>Note: You must log a pipeline
                        to an MLFlow run using the MLManager library
                        before you can deploy a pipeline.</p>
                    {% if msg %}
                    <h3>{{ msg }}</h3>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- In the backend, after a POST request from form submission,
the values in this field are referenced via request.form(n) where
n is the name of the input field. Therefore, it is important that the input
names correspond to those in shared/database/splice_models.py -->

<section class="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form method='POST' action="/api/ui/initiate">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- governance -->
                                <input type="hidden" name="user" value="{{ current_user.id }}"/>
                                <input type="hidden" name="handler_name"
                                       value="{{ handler_names.deploy_database }}"/>
                                <!-- must be here ^ -- read by Form -->

                                <div class='form--inputContainer js-input'>
                                    <label for='input_create_model_table' class='form--label'>Deploy to existing table
                                        *</label>
                                    <select id='input_create_model_table' name="create_model_table"
                                            onchange="toggleDatabaseCreate()" class='js-input-fullName' required>
                                        <option value=false selected>No</option>
                                        <option value=true>Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_run_uuid' class='form--label'>Run ID *</label>
                                    <input id='input_run_uuid' class='js-input-fullName' type='text'
                                           placeholder='e.g. cd93d9342bae4024a5290b908c02f386' name="run_id"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- governance -->
                                <div class='form--inputContainer js-input'>
                                    <label for='input_db_table' class='form--label'>Database Table Name *</label>
                                    <input id='input_db_table' class='js-input-fullName' type='text'
                                           placeholder='MYTABLE'
                                           name="db_table"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_db_schema' class='form--label'>Database Schema Name *</label>
                                    <input id='input_db_schema' class='js-input-fullName' type='text'
                                           placeholder='MYSCHEMA'
                                           name="db_schema"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div id="create_table_inputs" style="display: none">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class='form--inputContainer js-input'>
                                        <label for='input_primary_key' class='form--label'>Primary Key Name &
                                            Type</label>
                                        <input type='text' id='input_primary_key' placeholder='"id" VARCHAR(30)'
                                               name="primary_key">
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class='form--inputContainer js-input'>
                                        <label for='input_reference_table' class='form--label'>Reference Table *</label>
                                        <input id='input_reference_table' class='js-input-fullName'
                                               type='text' placeholder='Existing table with the same schema'
                                               name="reference_table">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class='form--inputContainer js-input'>
                                        <label for='input_reference_schema' class='form--label'>Reference Schema
                                            *</label>
                                        <input id='input_reference_schema' class='js-input-fullName'
                                               type='text' placeholder="Schema where table is located"
                                               name="reference_schema">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_model_cols' class='form--label'>Model Columns (all cols
                                        default)</label>
                                    <input id='input_model_cols' class='js-input-fullName'
                                           type='text' placeholder="columnA,columnB..." name="model_cols">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_classes' class='form--label'>Prediction Class Names (numeric
                                        default)</label>
                                    <input id='input_classes' class='js-input-fullName'
                                           type='text' placeholder="classA,classB..." name="classes">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_library_specific' class='form--label'>Prediction Options (opt)
                                        (<a href="#library_args">help</a>)</label>
                                    <input type="text" id='input_library_specific'
                                           class='js-input-fullName'
                                           placeholder="e.g. predict_call='predict_proba', ..."
                                           name='library_specific'/>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class='col-md-12'>
                                <input id='sbt-btn' type='submit'>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Help</h2>
                        <h3>
                            What is the difference between deploying to an existing table, and creating a new one?
                        </h3>
                        <p>
                            When you deploy to an existing table, a prediction trigger is added to that table, whereas
                            when creating a new table, an entirely new table is created, and the trigger added. When
                            creating
                            a new table, you must specify a reference table that contains the correct columns (schema)
                            you would like to
                            have in your created table.
                            <br>
                        <h3 id="library_args">Library Specific</h3>
                        Certain model types (specifically Keras and Scikit-learn)
                        support prediction arguments.<br>
                        Here are the options that we support:
                        <ol style="margin-left:30px">
                            <li>Scikit-learn
                                <ol style="margin-left:60px">
                                    <li><code>predict_call</code>: determines function call for the model.
                                        Available: 'predict' (default), 'predict_proba', 'transform'
                                    </li>
                                    <li><code>predict_args</code>: passed into the predict call (for Gaussian and
                                        Bayesian models). Available: 'return_std', 'return_cov'
                                    </li>
                                </ol>
                            </li>
                            <li>Keras
                                <ol style="margin-left:60px">
                                    <li><code>pred_threshold</code>: prediction threshold for Keras binary
                                        classification models. Note: If the model type is Keras, the output layer has
                                        1 node, and pred_threshold is None, you will NOT receive a class prediction,
                                        only the output of the final layer (like model.predict()). If you want a class
                                        prediction for your binary classification problem, you MUST pass in a threshold.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <br>
                        <h3>
                            How do I find the Run ID?
                        </h3>
                        <p>
                            Your Run ID can be found in the MLFlow UI:
                        <ol style="margin-left:30px">
                            <li>Go to the MLFlow UI (located on port 5001 of your cluster)</li>
                            <li>Click on the experiment (right sidebar) containing your run</li>
                            <li>Locate the run containing the model you would like to deploy. It may
                                be helpful to order your runs by start time.
                            </li>
                            <li>Your Run ID is located at the top left corner of your screen.</li>
                        </ol>
                        <p>You can also accomplish the same task using the MLManager Python
                            interface.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/form_utils.js') }}"></script>
{% endblock %}