{% extends 'base.html' %}
{% block content %}
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Deploy a model to Azure ML</h2>
                    <p>Note: You must log a pipeline
                        to an MLFlow run using the MLManager library
                        before you can deploy a pipeline.</p>
                    {% if msg %}
                    <h3>{{ msg }}</h3>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- In the backend, after a POST request from form submission,
the values in this field are referenced via request.form(n) where
n is the name of the input field. Therefore, it is important that the input
names correspond to those in mlmanager_lib/database/models.py -->

<section class="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form method='POST' action="/api/ui/initiate">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- governance -->
                                <input type="hidden" name="user" value="{{ current_user.id }}"/>
                                <input type="hidden" name="handler_name"
                                       value="{{ handler_names.deploy_csp }}"/>
                                <!-- must be here ^ -- read by Form -->
                                <div class='form--inputContainer js-input'>
                                    <label for='input_run_uuid' class='form--label'>Run ID *</label>
                                    <input id='input_run_uuid' class='js-input-fullName' type='text'
                                           placeholder='e.g. cd93d9342bae4024a5290b908c02f386'
                                           name="run_id"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_app_name' class='form--lbel'>AzureML
                                        Workspace *</label>
                                    <input id='input_app_name' class='js-input-fullName' type='text'
                                           placeholder="Retrieved or Created" name="workspace"
                                           required>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_acs_ep_name' class='form--label'>ACS Endpoint
                                        Name *</label>
                                    <input id='input_acs_ep_name' class='js-input-fullName'
                                           type='text'
                                           placeholder='My ACS Endpoint Name'
                                           name="endpoint_name"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_resource_group' class='form--lbel'>Azure
                                        Resource Group * </label>
                                    <input id='input_resource_group' class='js-input-fullName'
                                           type='text'
                                           placeholder="Retrieved or Created" name="resource_group"
                                           required>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_model_name' class='form--label'>AzureML Model
                                        Name</label>
                                    <input id='input_model_name' class='js-input-fullName'
                                           type='text'
                                           placeholder="Random if not specified" name="model_name"
                                           >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_region' class='form--label'>Azure
                                        Region</label>
                                    <select id='input_region' class='js-input-fullName'
                                            name="deployment_mode">
                                        <option value="East US" default selected>
                                            East US
                                        </option>
                                        <option value="East US 2">
                                            East US 2
                                        </option>
                                        <option value="Central US">
                                            Central US
                                        </option>
                                        <option value="West US 2">
                                            West US 2
                                        </option>
                                        <option value="North Europe">
                                            North Europe
                                        </option>
                                        <option value="West Europe">
                                            West Europe
                                        </option>
                                        <option value="Japan East">
                                            Japan East
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_cpu' class='form--label'>CPU Cores</label>
                                    <input type="number" step="0.1" id='input_cpu'
                                           class='js-input-fullName'
                                           name='cpu_cores' value="0.1"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='form--inputContainer js-input'>
                                    <label for='input_ram' class='form--label'>Allocated RAM
                                        (GB)</label>
                                    <input type="number" step="0.5" id='input_ram'
                                           class='js-input-fullName'
                                           name='allocated_ram' value="0.5"/>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class='col-md-12'>
                                <input id='sbt-btn' type='submit'>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="welcome">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Help</h2>
                        <h3>
                            What is the ACS endpoint name?
                        </h3>
                        <p>
                            The Azure Container Service endpoint name is the name of your Azure
                            endpoint that you plan to deploy your trained model to. This is specified
                            manually in your Azure account and region that you plan on deploying the model.
                             <br>
                        <h3>Retrieved or Created</h3>
                        If the name provided for your AzureML Workspace or Resource Group has been 
                        created in your Azure region, it will be retrieved and used, else it will be created
                        dynamically and used.<br>
                        <h3>
                            How do I find the Run ID?
                        </h3>
                        <p>
                            Your Run ID can be found in the MLFlow UI:
                        <ol style="margin-left:30px">
                            <li>Go to the MLFlow UI (located on port 5001 of your cluster)</li>
                            <li>Click on the experiment (right sidebar) containing your run</li>
                            <li>Locate the run containing the model you would like to deploy. It may
                                be helpful to order your runs by start time.
                            </li>
                            <li>Your Run ID is located at the top left corner of your screen.</li>
                        </ol>
                        <p>You can also accomplish the same task using the MLManager Python
                            interface.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br>
{% endblock %}