{% extends 'base.html' %}
{% block content %}
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Welcome to MLManager Director, {{ current_user.id }}</h2>

                    <p>From the Splice Machine MLManager Director you can track active jobs
                        (e.g. deployment),
                        create new jobs, and manage access to various services</p>
                    <p id="loading"></p>
                    <button class='button-outline' id='refresh-btn' onclick="refreshHome(true)">
                        Refresh
                    </button>
                    <!-- force refresh of widgets -->
                </div>
            </div>
        </div>
    </div>
</div>
{% if job_status %}
<section class="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    {% if job_status == 'success' %}
                    <i class="fa fa-check fa-fw succ"></i>
                    <div class="info">
                        <h3>Success</h3>
                        <p>Your Job was successfully submitted. You can monitor it in the <a
                                href='/tracker'>Job Tracker</a>.</p>
                    </div>
                    {% elif job_status == 'failure' %}
                    <i class="fa fa-times fa-fw dang"></i>
                    <div class="info">
                        <h3>Failure</h3>
                        <p>An unexpected error occurred while submitting your job:<br>
                        <pre>{{ error | safe }}</pre> <!-- render html directly -->
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <i class="fa fa-play fa-fw prim"></i>
                    <div class="info">
                        <h3 id="job_num"></h3> <span>Total Jobs</span>
                        <p>have been executed so far</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <i class="fa fa-list-ol fa-fw secc"></i>
                    <div class="info">
                        <h3 id="handler_num"></h3> <span>Enabled Services</span>
                        <p>are currently available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="charts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-container">
                    <h3>Jobs Executed</h3>
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart_config.js') }}"></script>
<script src="{{ url_for('static', filename='js/widgets.js') }}"></script>
<script>
    refreshHome(false);
</script>
{% endblock %}