{% extends 'base.html' %}
{% block sidebar %}
<ul class="categories">
    <li><i class="fa fa-users fa-fw" aria-hidden="true"></i><a href="#"> <b>Login</b></a>
    </li>
</ul>
{% endblock %}

{% block logout%}
{% endblock %}

{% block content %}
<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Please login to MLManager Director</h2>
                    <p>Your credentials are validated against the database.</p>
                    {% if unauthorized %}
                    <h3>Error: The username/password combination is not valid. Please try
                        again.</h3>
                    {% elif logged_out %}
                    <h3>You have been logged out.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<section class="statistics">
    <div class="container-fluid">
        <div class="row">
            <form action="/login" method="POST">
                <div class="col-md-4">

                    <div class='form--inputContainer js-input'>
                        <label for='username'>Username</label>
                        <input id='username' placeholder='Your Username' name='user'
                               class='js-input-fullName' type='text'>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class='form--inputContainer js-input'>
                        <label for='pw'>Password</label>
                        <input id='pw' name='pw' placeholder='Your Password'
                               class='js-input-fullName'
                               type='password'>
                    </div>
                </div>

                <div class='col-md-8'>
                    <br><input id='sbt-btn' type='submit'>
                </div>

            </form>
        </div>
        <br><br>

    </div>
</section>
{% endblock %}