@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
	font-family: 'entypo';
	font-style: normal;
	font-weight: normal;
	src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot');
	src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix') format('eot'), url('http://weloveiconfonts.com/api/fonts/entypo/entypo.woff') format('woff'), url('http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf') format('truetype'), url('http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo') format('svg');
}

.banner-img {
		margin-left:20px;
		margin-top:10px;
		margin-bottom:9px;
}
.entypo-down-open::before {
	content: "";
	width: 10px;
	height: 10px;
	border-bottom:2px solid #3390db;
	border-right:2px solid #3390db;
	display: inline-block;
}

body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #e7effd;
	color: #444;
}
ul {
	list-style: none;
	margin-top: 0;
	padding: 0;
}
a {
	cursor: pointer;
	display: block;
	color: #b3b3b3;
	text-decoration: none;
}
.bckg {
	background-color: #3880b9;
	/* box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48); */
	width: 200px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
h1 {
	text-align: center;
	font-weight: normal;
	color: #F6F6EF;
	line-height: 60px;
	margin: 0;
	font-size: 20px;
	letter-spacing: 2px;
	background-color: #34363A;
	border-bottom: 1px solid rgba(101, 116, 134, 0.57);
}
h2 {
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 3px;
	color: #fff;
	font-weight: normal;
	padding-left: 15px;
	line-height: 60px;
	/* text-shadow: 1px 1px 2px #fff; */
	position: relative;
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
}
h2::before {
	/* content: ''; */
	width: 36px;
	height: 36px;
	position: absolute;
	left: -19px;
	top: 12px;
	background-color: #34363A;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
h3 {
	font-size: 17px;
	margin: 0;
	line-height: 40px;
	color: #3390db;
	cursor: pointer;
	position: relative;
}
header {
	width: 200px;
	height: 100%;
	color: #fff;
	float: left;
	position: relative;
	z-index: 99;
}
header > a{
	background-color:#3390db;
}
header nav ul li {
	/* border-bottom: 1px solid #ffffff; */
	padding-left: 48px;
	transition: all 0.6s;
	border-top: 1px solid #ffffff;
}
header nav ul li:hover {
	background-color: #2072b5;
	transition: all 0.6s;
	/* border-bottom: 1px solid #797979; */
}
header nav ul li:hover a {
	color: #fff;
	transition: all 0.6s;
}
header nav ul li a {
	line-height: 55px;
	font-size: 18px;
	position: relative;
	letter-spacing: 1px;
	transition: all 0.6s;
	font-weight: 300;
	color: #fff;
}
header nav ul li a::before {
	font-family: 'entypo', sans-serif;
	font-size: 20px;
	position: absolute;
	left: -32px;
}
header nav ul li:first-child a::before {
	content: "\268f";
}

.deploy-btn {
	margin-left: 45px;
	width: 150px;
	height: 36px;
	background: transparent;
	border: 1px solid #fff;
	background-color: transparent;
	width: auto!important;
	height: auto;
	min-width: 1px;
	display: inline-block;
	color:transparent;
}
.deploy-btn:hover{
	background:#fff;
	color:transparent;
}
.deploy-btn:hover::after{
	color:#3390db;
}
.deploy-btn::before {
	/* background-color:grey; */
}

.deploy-btn2 {
	margin-left: 45px;
	width: 210px;
	height: 36px;
}

.deploy-btn2::before {
	/*background-color:grey;*/
}
.wrap {
 width: 600px; height: 390px; padding: 0; overflow: hidden;
 }

.frame {
zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0;
}
#home {
	display:none;
}
main {
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	/* height: 100%; */
	background: transparent;
}
.title {
	background-color: #3390db;
	border-bottom: 1px solid #fff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding:2px 0;
}
.title a {
	display: none;
	color: #AAA;
	width: auto;
	margin: 0 20px;
	float: right;
	line-height: 62px;
	position: relative;
	text-decoration: none;
	transition: all .5s;
}
.title a::before {
	content: "\1f464";
	font-size: 38px;
	position: absolute;
	left: -50px;
	font-family: 'entypo';
}
a:hover {
	color: #33526B;
	transition: all .5s;
}
.larg {
	max-width: 960px;
	margin: 30px auto;
	padding: 0 30px;
}
.larg div {
	background-color: #F7F7F7;
	border: 1px solid #E2E2E2;
	padding: 0 20px;
	margin: 15px 0;
}
.larg div:hover {
	background-color: #fafafa;
}
.larg div h3 span {
	font-family: 'entypo';
	font-size: 19px;
	position: absolute;
	right: 0;
	transition: all .6s;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.larg div h3 span.close {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: all .5s;
}
.larg div p {
	display: none;
	margin-left: 10px;
	padding: 0 15px;
	border-left: 1px solid #ccc;
}
i {
font-size:20px;
}
code {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 10px;
}
button {
	position:relative;
	border:0;
	margin:0;
	padding:0;
	cursor:pointer;
	width:auto;
	font-size:1rem;
	letter-spacing: .05em;
	font-weight:300;
	color:rgba(0,0,0,0);
	background:transparent;
	border-radius:5px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	display: inline-block;
	border:1px solid #3390db;
	background-color: #3390db;
}
button:hover{
	background-color: transparent;
	color:#3390db;
}
button:hover::before, button:hover::after{
	color:#3390db;
}

button,
button::after,
button::before {
	padding:.6875rem 2rem;
	-webkit-transition:-webkit-transform 0.75s,background-color .125s;
	-moz-transition:-moz-transform 0.75s,background-color .125s;
	-ms-transition:-ms-transform 0.75s,background-color .125s;
	transition:transform 0.75s,background-color .125s;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

button::after,
button::before {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-radius:.25rem;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;

}

button::before {
	z-index:2;
	color:#fff;
	background-color: transparent;
	content:attr(data-label);
}

button::after {
	z-index:1;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	transform:rotateX(180deg);
	content:'';
}

button:active::before {
	background-color:#3571c8;
}

button.loading {
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	transform:rotateX(180deg);
}