<!DOCTYPE html>
<head>
    <title>Banking Demo</title>
    <link rel='stylesheet' type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href=
            "{{ url_for('static',filename='css/index.css') }}">
</head>
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<body>
<div class="container">
    <div class="row">
        <center><img width='40%' src="{{ url_for('static', filename='img/logo.png') }}"/><br>
            <p style="font-size:18px">Intelligent Banking Application Demo</p></center>
        <form class="col s12" id="reg-form">
            <div class="row">
                <div class="input-field col s6">
                    <input name="first_name" id="first_name" type="number" class="validate"
                           required>
                    <label for="first_name">Age</label>
                </div>
                <div class="input-field col s6">
                    <select id="job" style="display:block; height:30px; margin-top:15px;" name="job"
                            form="reg-form">
                        <option disabled selected>Profession</option>
                        <option value="management">management</option>
                        <option value="technician">technician</option>
                        <option value="entrepreneur">entrepreneur</option>
                        <option value="blue-collar">blue-collar</option>
                        <option value="unknown">unknown</option>
                        <option value="retired">retired</option>
                        <option value="admin.">admin.</option>
                        <option value="services">services</option>
                        <option value="self-employed">self-employed</option>
                        <option value="unemployed">unemployed</option>
                        <option value="housemaid">housemaid</option>
                        <option value="student">student</option>
                    </select>

                </div>
            </div>
            <div class="row">

                <div class="input-field col s4">
                    <select id="marital" style="display:block; height:30px; margin-top:15px;"
                            name="marital" form="reg-form">
                        <option disabled selected>Marital Status</option>
                        <option value="married">married</option>
                        <option value="single">single</option>
                        <option value="divorced">divorced</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <select id="education" style="display:block; height:30px; margin-top:15px;"
                            name="education" form="reg-form">
                        <option disabled selected>Education</option>
                        <option value="tertiary">tertiary</option>
                        <option value="secondary">secondary</option>
                        <option value="primary">primary</option>
                        <option value="unknown">unknown</option>

                    </select>
                </div>
                <div class="input-field col s4">
                    <select id="default_credit" style="display:block; height:30px; margin-top:15px;"
                            name="default_credit" form="reg-form">
                        <option disabled selected>Default Credit</option>
                        <option value="yes">yes</option>
                        <option value="no">no</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-field col s4">
                    <input id="balance" name='balance' type="number" class="validate" minlength="1"
                           required>
                    <label for="balance">Account Balance</label>
                </div>
                <div class="input-field col s4">
                    <select id="housing" style="display:block; height:30px; margin-top:15px;"
                            name="housing" form="reg-form">
                        <option disabled selected>Housing</option>
                        <option value="yes">yes</option>
                        <option value="no">no</option>

                    </select>
                </div>
                <div class="input-field col s4">
                    <select id="loan" style="display:block; height:30px; margin-top:15px;"
                            name="loan" form="reg-form">
                        <option disabled selected>Loan</option>
                        <option value="yes">yes</option>
                        <option value="no">no</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name='duration' id="duration" type="number" class="validate"
                           minlength="1"
                           required>
                    <label for="duration">Call Duration</label>
                </div>
                <div class="input-field col s6">
                    <input name='campaign' id="campaign" type="number" class="validate"
                           minlength="1"
                           required>
                    <label for="campaign">Call # (this campaign)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="previous" id="previous" type="number" class="validate"
                           minlength="1"
                           required>
                    <label for="previous">Previous Campaigns #</label>
                </div>
                <div class="input-field col s6">

                    <select id="poutcome" style="display:block; height:30px; margin-top:15px;"
                            name="poutcome" form="reg-form">
                        <option disabled selected>Previous Outcome</option>
                        <option value="success">success</option>
                        <option value="failure">failure</option>
                        <option value="unknown">unknown</option>
                        <option value="other">other</option>

                    </select>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s12">
                    <button style='width:100%'
                            class="btn btn-large btn-register waves-effect waves-light"
                            type="submit" name="action">Go
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <a title="Splice Machine" href='https://splicemachine.com'
       class="ngl btn-floating btn-large waves-effect waves-light red"><i class="material-icons">input</i></a>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</div>
</body>